VITE_API_URL=http://localhost:9000
VITE_GOOGLE_CLIENT_ID=your_google_client_id
VITE_GOOGLE_CLIENT_SECRET=your_google_client_secret
VITE_STRIPE_PUB_KEY=your_stripe_pub_key
VITE_PAYSTACK_PUB_KEY=your_paystack_pub_key